.btn:hover {
    background-color: #C7C7C7 !important;
}

.btn-orange:hover {
    background-color: #D07B32 !important;
}

.btn-green:hover {
    background-color: #A1C9AC !important;
}

.btn,
.btn.x-btn-focus.x-btn-default-small {
    background-color: #E0E0E0;
}

.btn-orange,
.btn-orange.x-btn-focus.x-btn-default-small {
    background-color: #F5923E;
}

.btn-green,
.btn-green.x-btn-focus.x-btn-default-small {
    background-color: #AFDCBB;
}

.x-btn-focus.x-btn-default-small,
.x-btn-focus.x-btn-over.x-btn-default-small {
    box-shadow: none;
}

.btn-orange span,
.display div {
    color: #FFFFFF !important;
}

.display {
    background-color: #69787F;
    padding: 0px !important;
}

.btn span,
.btn-orange span,
.btn-green span {
    font-size: 20px;
    line-height: 22px;
    color: #000000;
}

.btn-orange,
.btn,
.display,
.btn-green {
    border-radius: 0;
    border-color: #89898C;
    border-width: 0.5px;
}

.display div {
    font-size: 26px;
    line-height: 32px;
    text-align: right;
    padding-right: 5px;
    padding-top: 10px;
}

td div {
    margin-bottom: 0px !important;
}

.x-window-header-default-top {
    padding: 0px !important;
    top: 0px !important;
    left: 0px !important;
}

.x-treelist-item-text {
    color: #adb3b8;
    font-size: 14px;
    line-height: 64px;   
    text-align: center;     
}

.x-treelist-item-icon, .x-treelist-item-tool {
    color: #adb3b8;    
    font-size: 24px;
    width: 36px;
}

.x-treelist-item-icon, .x-treelist-item-tool, .x-treelist-item-expander {
    line-height: 64px;
    text-align: center;
}

.x-treelist-item-expander {
    color: #adb3b8;
    font-size: 16px;
    width: 18px;
}

.file-field-input {
	width: 350px;	
}

.elantris-title-bar .x-toolbar-after-title{
	background-color: #5fa2dd;
}

.elantris-user-btn .x-btn-inner.x-btn-inner-default-toolbar-small,
.elantris-user-btn .x-btn-icon-el.x-btn-icon-el-default-toolbar-small,
.elantris-user-btn .x-btn-wrap-default-toolbar-small.x-btn-arrow-right:after {
	color: #f6f6f6;		
}

.elantris-user-btn,
.elantris-user-btn.x-btn-over.x-btn-focus,
.elantris-user-btn.x-btn-focus,
.elantris-user-btn.x-btn-over,
.elantris-user-btn.x-btn-pressed,
.elantris-user-btn.x-btn-pressed.x-btn-over,
.elantris-user-btn.x-box-item.x-toolbar-item {
	background-color: #5fa2dd;	
	border: 0px;
}

.elantris-title-bar .x-form-text {
	border-radius: 15px;
} 

.elantris-title-bar .x-form-trigger-wrap {
	border: none;
}

.round-button-circle {	
    border-radius: 50%;
	border:10px solid #5fa2dd;
	width: 50px;
	height: 50px;
}

.round-button-circle .x-btn-icon-el-default-toolbar-small {
	color: #5fa2dd;
}

.round-button-circle.x-btn-over.x-btn-focus {
	color: #0000ff;
}

.minimize {
	padding: 6px 0 6px 8px;
	border-style: solid;
	border-color: #d0d0d0;
	border-width: 1px;
	background-image: none;
	background-color: #32404E;
}

.profile-icon {
	border-radius: 50%;
	border:1px solid #ccf3ff;
	margin: 5px;
	width: 50px;
	height: 50px;	
	box-shadow: 1px 2px 5px #888888;
}

.profile-cell{
	width: 60px;
}

.stream-message-title {	
	word-spacing: 1px;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 14px;
	border-bottom: 1px solid #94b8b8;
}

.stream-message-timestamp {
	color: #94b8b8;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 12px;
}

.stream-message-content {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	vertical-align: top;
	color: #1e2f2f;
}

.stream-message {
	width: 80%;	
	border-radius: 10px;	
	border: 1px solid #ccf3ff;
	background-color: #e6f9ff;
	box-shadow: 5px 5px 5px #888888;
}

.stream-message-own {
	width: 80%;	
	margin-left: 20%;
	border-radius: 10px;	
	border: 1px solid #ccf3ff;
	background-color: #e6f9ff;
	box-shadow: 5px 5px 5px #888888;
}


.stream-profile {
	float: left;
}

.stream-body {
	overflow: hidden;
}

.left-tree-panel .x-title-item {
	padding-top: 10px;	
}

.left-tree-panel .x-tool-img {
	padding-top: 2px;
	background-color: #32404e;	
}

.left-tree-panel .x-treelist-expander-first .x-treelist-item-expander {
	/* right: 0; */
	/* left: auto; */
}

.left-tree-panel .x-panel,
.left-tree-panel .x-tree-view,
.left-tree-panel .x-fit-item,
.left-tree-panel .x-tree-view-default,
.left-tree-panel .x-unselectable  {
	padding: 0 10px;
	background-color: #32404e;
	toolstrip-background-color: #32404e;
	tool-selected-color: #f0f0f0;
	tool-selected-background-color: #5fa2dd;
	tool-float-indicator-width: 4px;
	tool-float-indicator-color: #5fa2dd;
	item-expanded-background-color: #2c3845;
	item-line-height : 80px;
	item-icon-color: #ADB3B8;
	item-expander-color: #ADB3B8;
	item-text-color: #FFF;
	row-over-background-color: #4f606f;
	item-icon-over-color: #fff;
	item-expander-over-color: #fff;
	item-text-over-color: #fff;
	row-indicator-width: 6px;
	row-indicator-selected-color: #5fa2dd;
	row-indicator-selected-over-color: lighten(#5fa2dd; 10%);
	row-indicator-over-color: lighten(#5fa2dd; 10%);
	item-icon-font-size: 18px;
	item-icon-width: 24px;
	item-expander-font-size: 16px;
	item-expander-width: 24px;
	row-selected-background-color: #3f505f;
}

.stream-message-box .x-form-trigger-wrap {
	border-width: 1px;
	border-style: solid;
	border-color: #d0d0d0;
}
